---
import BaseLayout from "@/layouts/base-layout.astro";
import MyVideo from "@/components/video2.astro";
---

<BaseLayout pageTitle="video4">
  <h1>video4</h1>
  <MyVideo transition:name="media-player" transition:persist />
</BaseLayout>
