---

---

<ul class="menu_ul">
  <li class="menu_li"><a class="menu_a" href="/">首页</a></li>
  <li class="menu_li"><a class="menu_a" href="/about">about</a></li>
  <li class="menu_li"><a class="menu_a" href="/posts">posts</a></li>
  <li class="menu_li"><a class="menu_a" href="/posts/post-1">post-1</a></li>
  <li class="menu_li"><a class="menu_a" href="/posts/post-2">post-2</a></li>
  <li class="menu_li"><a class="menu_a" href="/posts/post-3">post-3</a></li>
  <li class="menu_li"><a class="menu_a" href="/tags/astro">tag-astro</a></li>
  <li class="menu_li"><a class="menu_a" href="/tags/successes">tag-successes</a></li>
  <li class="menu_li"><a class="menu_a" href="/tags/community">tag-community</a></li>
  <li class="menu_li"><a class="menu_a" href="/tags/blogging">tag-blogging</a></li>
  <li class="menu_li"><a class="menu_a" href="/tags/setbacks">tag-setbacks</a></li>
  <li class="menu_li"><a class="menu_a" href="/tags/null">tag-null</a></li>
</ul>

<style>
  .menu_ul {
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fbb360;
  }
  .menu_li {
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #ccc;
    padding: 0 25px;
  }
  .menu_a {
    font-size: 18px;
    font-weight: bold;
    color: #245aa5;
  }
</style>
