---
import BaseLayout from "./base-layout.astro";
const { frontmatter } = Astro.props;
---
<!-- <BaseLayout pageTitle="posts"> -->
  <div>
    <ul>
      { frontmatter.title ? <li>markdown title {frontmatter.title}</li> : null}
      { frontmatter.pubDate ? <li>markdown pubDate {frontmatter.pubDate}</li> : null}
      { frontmatter.description ? <li>markdown description {frontmatter.titdescriptionle}</li> : null}
      { frontmatter.author ? <li>markdown author {frontmatter.author}</li> : null}
    </ul>
    <slot>
  </div>
<!-- <BaseLayout> -->

